<%- include('partials/header') -%> <%- include('partials/navbar') -%>
<div class="container">
  <div class="author">
    <h2>Name:- <%= author.name %></h2>
    <h4>Email:- <%= author.email %></h4>
    <p>Country:- <%= author.country %></p>
  </div>
</div>
<%- include('partials/footer') -%>
